.addproject {
  background-color: #7983DE;
}
.colheading {
  color: white;
  background-color: #7983DE;
}
th {
  padding: 7px;
}
.btnsbt {
  background-color: #7983DE;
  color: #e6f8ff;
}


th,
td {
  padding: 7px;
}

addproject {
  background-color: #7983DE;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
}
.error {
  color: red;
}
.error-text{
  font-size: 14px;
}
.form-control {
  margin: 10px 0px;
}

.ico-cursor {
  cursor: pointer;
}
.select-drop {
  border-radius: 0.375rem;
  padding: 0.15rem 0.75rem;
  /* padding: 1.15rem 0.75rem; */
  margin: 10px 0px;
}
/* .icon-padding{
  padding: 0px 5px;
} */
.icon-default{
  color: orange;
}
.icon-true{
  color: green;
}
.icon-false{
  color: red;
}
.copydatbase{
  text-align: center;
}
.required {
  color: red;
}
.button3 {
  background-color: #53BBB8;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.password-input-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}
.password-icon i {
  font-size: 20px;
  color: #333;
}


/* .dlt-btn :checked{
  background-color: #BF4646;
  color: white;
} */
.cpy-btn{
  color: #1691C8;
}
.cpy-btn:hover{
  background-color: #1691C8;
  color: white;
}

 .cpy-btn:active{
  background-color: #1691C8;
  color: white;
}

.success-icon {
  color: green; /* Set the color to green for success */
}

.error-icon {
  color: red; /* Set the color to red for error */
}


.password-iconEdit {
  position: absolute;
  top: 63%;
  right: 33px;
  cursor: pointer;
}
.password-icon i {
  font-size: 20px;
  color: #333;
}
 /* pagination 1,2,3...next */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #7983DE;
}
::ng-deep .ngx-pagination .current {
  background:#7983DE!important;
}

button:focus {
  outline: 2px solid rgb(18, 212, 238); /* Change the color and style as needed */
}
.form-control{
  height: auto;
}
