<div class="container py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <!-- First section starts here..................................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h6 class="heading-main">Data Obfuscation</h6>
                            <!-- <div class="row">
                                <div class="col-md-1">
                                    <img src="../../../../../assets/help-ico.svg" class="img-fluid help-ico"
                                        alt="help-ico">
                                </div>
                                <div class="col-md-11">
                                    <h6 class="heading-main">Data Obfuscation</h6>
                                </div>
                            </div> -->
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-5 py-2">
                                    <img class="img-fluid" src="../../assets/d4.gif" alt="Data Obfuscation" />
                                </div>
                                <div class="col-md-7 ofsc-content">
                                    <ul>
                                        <li><span class="head-text">Data obfuscation</span>
                                          is also known as data masking or data anonymization. This process involves transforming sensitive or personally identifiable information (PII)
                                           into a non-sensitive and anonymous form, all while retaining its usability for specific purposes. The primary objective of data obfuscation is to safeguard sensitive data from unauthorized access, reducing the risks associated with data breaches, unauthorized disclosures, or privacy violations.</li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Second section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h6 class="heading-main">Project Overview</h6>

                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-7 ofsc-content">
                                    <ul>
                                        <li> To enhance security and confidentiality, we can utilize the Kalpita Obfuscation Tool to obfuscate the client-provided data.</li>
                                        <li><span class="head-text">Project</span> -
                                          This page enables the setup of a project by providing database connection information and allows users to test the connection. Once the project is set up, all tables in the database will be available for obfuscation.</li>
                                        <li><span class="head-text">Mapping Tables</span> - Once the database connection is established, the Mapping Page allows the user to select tables for obfuscation and map the obfuscation function to each column in the table that needs to be obfuscated.</li>
                                        <li><span class="head-text">Admin Page </span> - This menu has two functionalities: Keyword and Function.

                                        <li><span class="head-text">Obfuscation </span> - This will display the mapped tables, and by selecting these tables, we can obfuscate the data for the columns that have been mapped in the client database.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-5 py-2">
                                  <img class="img-fluid" src="../../assets/overview1.jpg" alt="Data Obfuscation" />
                              </div>
                                <!-- <div class="col-md-12 ofsc-content">
                                  <ul>
                                    <li>
                                      Our tool is designed to offer a simple and user-friendly method for data obfuscation,
                                      providing various options such as data masking. The tool is designed to support different servers, like SQL Server, MySQL, and Oracle (19C).
                                    </li>
                                  </ul>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Third section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h6 class="heading-main">Project </h6>

                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <h4>On this page, we will set up a new project and provide a Server connection string
                                    for a Database connection.</h4>
                                <h6><b>Functionality of this page : </b></h6>
                                <div class="col-md-7 py-2">
                                    <img class="img-fluid" src="../../assets/projectpage.jpg" alt="Data Obfuscation" />
                                </div>
                                <div class="col-md-5 ofsc-content">
                                    <ul>
                                        <li>Adding new Project</li>
                                        Click the + icon on the page to add a new project.
                                        <li>Enter Project Name, Project Description, Server Type, Server Name, User Name, Database Name, Password and Click Save to create a New project</li>
                                        <li>Project Name should be Unique. One can have only one Project created for a Server and Database</li>
                                        <li>Server Type: Currently this tool is tested for SQL Server 2019, MySql 8.0 and Oracle 19</li>
                                        <li>Modifty Project Details : </li> Click on Edit Icon to Modify the Project Details
                                        <li>Copy Attributes : </li> This feature enables the copying of columns from another project's data. This helps users replicate the mappings in another environment without having to re-do them. It copies only the mapped attributes of the selected project.
                                        <li>Test Connection : </li> Click on Test Connection Icon to validate if connection details provided is Proper.
                                        <ul>> Green Icon - Connected</ul>
                                        <ul>> Red Icon - Connection Failed</ul>
                                        <ul>> Orange - Ready for connection</ul>
                                        <li>If you wish to delete the project, ensure that no data is mapped to it. If any data is mapped, please delete it from the obfuscation list.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fourth section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <h6 class="heading-main">Mapping</h6>

                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <h6><b>How to Process :</b></h6>

                                <div class="col-md-6 ofsc-content">
                                    <ul>
                                        <li>Select Project name.</li>
                                        <li>Select Table name.</li>
                                        <li>
                                          For the initial setup, click the "Fetch Columns" : Click "Fetch Columns" button to fetch the columns in the table. The first time you click, the "New" icon will be shown. Fetching columns will retrieve the column names into the Obfuscation Tool (not the data). Users can click "Fetch Columns" again at a later date to sync the column information, which is useful for newly added columns or deleted columns in the table.
                                          Upon subsequent clicks of "Fetch Columns," if the column is already synced, it will show the icon as "Existing." If the column has been deleted, the icon will be displayed as "Deleted."</li>
                                          <li>Search text box is also provided for searching the columns</li>
                                        <li>
                                          Once we have the column information, users can select the checkbox for the columns to be obfuscated and choose the appropriate obfuscation function. Selecting a function that does not support the data types of columns may lead to data misbehavior. For example, choosing a Date Obfuscation function for a string data type column.</li>

                                       </ul>
                                </div>
                                <div class="col-md-6 py-2">
                                  <img class="img-fluid" src="../../assets/map.jpg" alt="Data Obfuscation" />
                              </div>
                                <div class="col-md-12 ofsc-content">
                                    <ul>
                                      <li>User can Preview the data (top 5 data) before doing obfuscation. It's important to note that the preview feature will not work for the Certificate Function.</li>

                                      <li>To expedite the column selection for obfuscation, users can choose to apply a keyword, which will automatically select the columns to be obfuscated along with the corresponding function based on the keyword setup in the Admin: Keyword page. For instance,
                                        setting up the keyword "date" will automatically select all columns with the name "date." Once the columns are selected for obfuscation, click "Map Columns" to save the mappings</li>
                                        <li>Users can export the mappings to Excel, allowing them to send them for review.</li>
                                            <h6><b>How to Use Certificate :</b></h6>
                                        <li>
                                             To utilize the Certificate function, you can add a column to your table with the name "Encrypted_Value" and a data type of varbinary(max). It's important to note that the Certificate function can be applied to one column at a time.
                                        </li>
                                        <li>
                                          If you possess multiple certificates, you need to add a column to each table with the name "Encrypted_Value" for the desired functionality. It's essential to note that for each table, only one column can be designated for certificate functionality,
                                           meaning you cannot add multiple columns at once. However, you can apply the certificate function to multiple columns sequentially, but not simultaneously.
                                        </li>
                                        <li class="note-list">Note : Ensure that your symmetric key is named "SymmetricKey1" for this functionality to work correctly.
                                        </li>
                                        <li>After completing all column mappings, be sure to click the "Map Columns" button to finalize the process.</li>
                                        <li>After mapping, if you need to unmap columns, simply deselect the columns you wish to unmap and then submit the changes.</li>
                                        <li>To verify the data columns, you can export the information to an Excel sheet.</li>
                                        <li class="note-list">Note :
                                          If the columns are not mapped with the proper functionality, it may lead to data misbehavior. Ensure that the mapping is done correctly.</li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fifth section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <h6 class="heading-main">Functions</h6>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-7 py-2">
                                    <img class="img-fluid" src="../../assets/functions.jpg" alt="Data Obfuscation"style="margin-top: 75px;" />
                                </div>
                                <div class="col-md-5 ofsc-content">
                                    <ul>
                                        <li>This page enables you to deploy the obfuscation functions onto your database. These functions must be present in your database for the data to be successfully obfuscated.</li>
                                        <li>Select all the function and Click Deploy to deploy the function. User metioned in the Project Connection is required to have the Permission to create the functions.
                                          Use Show Query to Preview the defn of Function</li>
                                            <li>Creating certificates is not supported within this application; you must create them manually on your server. However, once you have created a certificate, you can utilize it within this application. You don't have the option to deploy the Certificate Function directly from this application.
                                          </li>

                                        <li class="note-list">Note : Ensure that you deploy these functions before you commence the obfuscation process.</li>
                                    </ul>
                                </div>
                                <div class="col-md-12 ofsc-content">
                                    <ul>
                                        <h5>List of Functions</h5>
                                        <li><b>Email Function:</b> Email Function is used to mask the data by generating random alphabets with email formate.<br>
                                          Example : <b> Obfuscation@gmail.com > abcdefgh@example.com</b></li>
                                        <li> <b>RANDOM TEXT Function:</b> RANDOM TEXT Function is used to generate random alphabets based on the length of the original data.<br>
                                          Example : <b>Obfuscation > abcdefghmopnm</b>
                                        </li>

                                        <li><b>Number Function:</b>  Number Function is used to generate the random Numbers based on length of the original data. <br>
                                          Example : <b>9876746322</b>
                                        </li>
                                        <li><b>DATE Function:</b> Date Function is used to mask the date. The date can be in any formate its masks the date. <br>
                                          Example : <b>01/01/2024  >  **/01/****</b>
                                        </li>
                                        <li><b>(#)TEXT Function:</b>  (#)TEXT Function is used to mask the data by generating # or * in original data. <br>
                                          Example : <b>Obfuscation  >  Ob*******on</b>
                                        </li>
                                        <li><b>SSN Function:</b> SSN Function is used to mask the data by generating X in original data. This can used to mask SSN numbers, Aadhar numbers.<br>
                                          Example : <b>111-22-3333  >  XXX-XX-X333</b>
                                        </li>
                                        <li><b>Constant Value:</b> The Constant Value function is used to apply the same value to all rows in a specific column. There is no need to deploy this function.</li>
                                        <li><b>Certificate:</b> While there is no specific function for this, users can leverage the certificate name they have already created in the database. However, certain conditions apply when using the Certificate functionality.
                                          <ul> > Only one column can be associated with the certificate at a time.</ul>
                                          <ul> > When creating a certificate, please ensure to use the column name 'Encrypted_Value' with the data type set as varbinary(max).</ul>
                                          <ul> >
                                            You can utilize one certificate for one column at a time. If you intend to use it for multiple columns simultaneously, it's not possible. However, you can apply the certificate functionality to one column, unmap that column, and then proceed to map it with a new column.</ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sixth section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <h6 class="heading-main">Keywords</h6>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-7 py-2">
                                    <img class="img-fluid" src="../../assets/keyword.png" alt="Data Obfuscation" />
                                </div>
                                <div class="col-md-5 ofsc-content">
                                    <ul>
                                        <li>On this page, to add a list of keywords, first, select the project. Then, click on the plus icon, enter the keyword, choose the obfuscation function from the dropdown, and save it.
                                          The keyword will be added to the selected project. </li>
                                          <li>To Edit a keyword, select the project name, locate the action column, and click on the edit icon.</li>
                                        <li>To delete a keyword, select the project name, locate the action column, and click on the delete icon.</li>
                                        <li class="note-list">Note : Any columns added here will be displayed on the mapping page. These keywords are utilized for the Apply Keyword Search functionality.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Seventh section starts here............................................... -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            <h6 class="heading-main">Obfuscation</h6>

                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="row">
                                <img class="img-fluid" src="../../assets/Obfuscation.png" alt="Data Obfuscation" />
                                <h6><b>How to Process :</b></h6>
                                <div class="col-md-12 ofsc-content">
                                    <ul>
                                        <li>Selecting the Project will list out all the Tables mapped for obfuscation. </li>
                                        <li>It will not list tables that have no columns to be Obfuscated.</li>
                                        <li>Select the tables to be obfuscated and click "Obfuscate" to apply obfuscation to all the columns that have been mapped for obfuscation.
                                           <li>On successful obfuscation, the checkbox will be greyed out and Status would be changed to Obfuscated along with Obfuscation timestamp.</li>
                                           <li>In case of an error, the details will be displayed in the Error Column. Resolve the error and click "Obfuscate" again. Resolving the error might also address the issue in the client database.</li>
                                            <li>Once the data is obfuscated and later on the data is restored in client database then you want to obfuscate the new data then simply You can click on Re-enable Obfuscation button and then click obfuscate button. </li>
                                            <li>If any table is deleted in the client database, it can be removed from the Obfuscation tool by clicking the "Delete" button. This action will eliminate all mappings for the respective table from the Obfuscation Tool.                                            </li>
                                        <li class="note-list">Note :
                                          Once you obfuscate the data, it cannot be reverted to the original state. Although you can obfuscate the data multiple times, retrieving the original data is not possible. To revert to the original data, you need to restore it from a backup in the database.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
































<!-- First section starts here..................................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Data Obfuscation</h3>
            <div class="col-md-5 py-2">
                <img class="img-fluid" src="../../assets/d4.gif" alt="Data Obfuscation" />
            </div>
            <div class="col-md-7 ofsc-content">
                <ul>
                    <li><b>Data obfuscation</b> also known as data masking or data anonymization, refers to the process
                        of
                        transforming
                        sensitive or personally identifiable information (PII) into a non-sensitive and anonymous form
                        while
                        still
                        maintaining its usability for certain purposes. The primary goal of data obfuscation is to
                        protect
                        sensitive
                        data from unauthorized access, thereby mitigating the risks associated with data breaches,
                        unauthorized
                        disclosures, or privacy violations.</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- Second section starts here............................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Project Overview</h3>
            <div class="col-md-7 ofsc-content">
                <ul>
                    <li> We may obfuscate the client-provided data for security and confidentiality using the Kalpita
                        Data
                        Obfuscation Tool.</li>
                    <li>When a database connection is given to access the data, we provide different modules to process
                        the data
                        obfuscation.</li>
                    <li><b>Mapping Tables</b> - Once we get the data, we must select the columns for the particular
                        table and
                        then select obfuscation function for each of them.</li>
                    <li><b>Admin Page </b>
                        <h6>Functions -</h6>Based on project user need to Deploy the different Functions that is used
                        for obfuscate, so it will
                        create client side functions rather deploying manually in server.
                    </li>
                    <h6>Keyword -</h6> User may add list of keywords to make easier to select the columns with
                    functionality automatically.
                    <li><b>Obfuscation -</b> This will Provide the Mapped Tables and by selecting the Tables we can
                        Obfuscate the Data in Database.</li>
                    <li>Our tool is designed to provide a simple and easy way to perform data obfuscation by providing
                        various options like Data Masking.
                        This Tool is designed to support the different servers like SQL SERVER, MYSQL, ORACLE(19C).
                </ul>
            </div>
            <div class="col-md-5 py-2">
                <img class="img-fluid" src="../../assets/d1.jpg" alt="Data Obfuscation" />
            </div>

        </div>
    </div>
</div> -->
<!-- Third section starts here............................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Project Master</h3>
            <h4>On this page, we will set up a new project and provide a Server connection string for a Database
                connection.</h4>
            <h6>The functionality on this page : </h6>
            <div class="col-md-7 py-2">
                <img class="img-fluid" src="../../assets/Second.jpg" alt="Data Obfuscation" />
            </div>
            <div class="col-md-5 ofsc-content">
                <ul>
                    <li>Adding new Project</li>
                    <li>Get existing Project details</li>
                    <li>Modifty Project Details</li>
                    <li>Create copy of Data of one project into other</li>
                    <li>Test Connection</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- Fourth section starts here............................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Mapping</h3>
            <h6>How to Process :</h6>
            <div class="col-md-6 ofsc-content">
                <ul>
                    <li>Select Project name</li>
                    <li>Select Table name</li>
                    <li>First time we have to click on sync button to sync the data from the database, if its new
                        columns then status of columns is New, if already mapped then status of columns is Existing,
                        if columns are mapped and then client side they were deleted any colunmns then by clicking sync
                        we will get Deleted Status.</li>
                    <li>Select columns and function names which we need to obfuscate with proper functionality name. If
                        we try to apply logics for columns different column Datatypes it may misbheave the Data(ex-
                        Column datatype is Int, we are trying to obfusacte that column by mapping the varchar data
                        type).</li>
                    <li>The keywords list on the right side of the screen is used to select common options across all
                        tables.
                        For that we have Apply keyword search button once we click the button, column checkbox and
                        function dropdown will automatically selected. Alternatively, you can manually select each
                        column, Apply Keyword Search will
                        speed up the selection process.</li>
                    <li>The preview icon allows us to see the Data that how it is obfuscating.We can see the Original
                        Data and Masked Data. If user is ok with that functionality user can start Obfuscating.</li>
                    <li>After doing all column mapping don't forget to Click Submit Button</li>
                    <li>We have Export Excel sheet to verify the data columns.</li>
                    <li class="note-list">Note : If we Don't Map the columns with proper functionality then it may
                        misbehave the data, make sure Mapping is done corectly.</li>
                </ul>
            </div>
            <div class="col-md-6 py-2">
                <img class="img-fluid" src="../../assets/Third.jpg" alt="Data Obfuscation" />
            </div>

        </div>
    </div>
</div> -->
<!-- Fifth section starts here............................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Functions</h3>
            <div class="col-md-7 py-2">
                <img class="img-fluid" src="../../assets/d2.jpg" alt="Data Obfuscation" />
            </div>
            <div class="col-md-5 ofsc-content">
                <ul>
                    <li>In this page, we are requesting that you add these functions to your database by selecting them
                        all and
                        submitting them. Without these functions in your database, we are unable to implement the
                        obfuscation
                        process.</li>
                    <li>To build functions in your database, simply choose your project name and follow these steps.
                    </li>
                    <li class="note-list">Note : Make sure to Deploy these Functions before You start Obfuscating.</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->


<!-- Fifth section starts here............................................... -->
<!-- <div class="pt-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Keywords </h3>
            <div class="col-md-7 py-2">
                <img class="img-fluid" src="../../assets/keyword.png" alt="Data Obfuscation" />
            </div>
            <div class="col-md-5 ofsc-content">
                <ul>
                    <li>In this page, we can add the keywords for that, first we have to select the project then we have
                        plus icon click on that and type the keyword and select the function dropdown and save it. The
                        keyword will be added to the selected particular Project. </li>
                    <li>We can also delete the keyword for this we have to select the project name , there is an action
                        column, click on the delete icon, it will be deleted.</li>
                    <li class="note-list">Note : Whatever columns we added here, it will show to the mapping page. </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- Sixth section starts here................................................... -->
<!-- <div class="py-4">
    <div class="container ofsc-bg py-2">
        <div class="row">
            <h3 class="heading-main">Obfuscation</h3>
            <img class="img-fluid" src="../../assets/d3.jpg" alt="Data Obfuscation" />
            <h6>How to Process :</h6>
            <div class="col-md-12 ofsc-content">

                <ul>
                    <li>In this page you need to select the project Name, after selecting Project Name what ever you
                        selected tables and columns in mapping page that need to obfuscate, in this page it will show
                        you like table wise data (table names), then you need to select Table Names and you can submit.
                    </li>
                    <li>In this page if u miss any table to select it wont obfuscate. While obfuscating the data, if any
                        data gets error the we can see the errors in error column then solve that in server and come
                        back to obfuscate again.</li>
                    <li>And here you can reset the procces of obfuscating. And you can see last Obfuscated date for that
                        particular table. </li>
                    <li>At last you can click Obfuscate button to obfuscate the data. Finally Its Done. </li>
                    <li>After submitting selected columns, we have an option to export the data into an Excel sheet in
                        Mapping page, select Project and download the Excell sheet.</li>
                    <li class="note-list">Note : Once You Obfuscate the data we cannot reback the original data. We can
                        obfuscate number of times but we cannot get original data back, to do that you need to restore
                        the data in database again.</li>
                </ul>
            </div>

        </div>
        <h3 class="Thankyou">Thank You</h3>

    </div>

</div> -->
