.datatable{
    color: black;
    border: 1px solid#ABA6A6;
    background-color: white;
    overflow-x: auto;
    white-space: nowrap;
  }
  .colheading {
    color: white;
  background-color: #7983DE;
  }
  .checkbox-function{
    margin: 5px 10px;
}
.obfuscate-btns{
  background-color: white;
  color: #53BBB8;
  border: 1px solid #53BBB8;
}
.reset-btn{
  background-color: #53BBB8;
  color: white;
  border: 1px solid #53BBB8;
}
/* .reset-btn{
  background-color: #eba346;
  color: white;
    padding: 5px 5px;
} */
.label-bold{
  font-weight: 600;
}
/* .button-subreset{
  display:flex;
  justify-content: end;
} */
.required {
  color: red;
}
 /* pagination 1,2,3...next */
 .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #7983DE;
}
::ng-deep .ngx-pagination .current {
  background:#7983DE!important;
}

.form-control{
  height: auto;
}
