<div class="footer-wrap">
    <div>
      <h6 class="py-3 m-0 text-center fw-light">
        Kalpita Technologies® is a Registered Trademark © {{currentyear}} All Rights Reserved.
      </h6>
    </div>
    <!-- <button *ngIf="isShow" (click)="gotoTop()" style="position:fixed;bottom:55px;right:0">👆</button> -->
    <button *ngIf="isShow" (click)="gotoTop()" style="position:fixed;bottom:55px;right:0"><i class="fa fa-arrow-up"></i></button>
    <!-- <button class="btn btn-warning" (click)="showUp()" style="position:fixed;bottom:0;right:0"><i class="fa fa-arrow-up"></i></button> -->
  </div>
  
