<!-- <div class="container-fluid login-gradient">

  <div class="row">
      <div class="col-md-6">
          <img src="/assets/login.jpg" alt="login-img" class="estimation-login img-fluid">
      </div>
      <div class="col-md-6 text-body">
          <div class="row">
          <div class="col-md-12">
              <h2>Welcome To Kalpita Project Obfuscation!..</h2>
              <h5>Login here to your project.</h5>

              <button id="signin-btn" class="btn btn-success btn-md" (click)="login()" >SIGN IN</button>
          </div>
      </div>
      </div>
  </div>

</div> -->

<div class="container-fluid login-body">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/obfuscation-Banners.webp" alt="login-img" class="obfuscation-login img-fluid">
        </div>

        <div class="col-md-6 py-5 px-3">
            <div class="row">
                <div class="col-md-11 d-flex justify-content-end">
                    <button class="btn btn-signin" (click)="login()">Sign In</button>
                    <!-- <span class="ms-3"><button class="btn btn-contact"><a class="contactLink" href="contact">Contact Us</a></button></span> -->
                </div>
                <div class="col-md-12 py-2">
                    <h1 class="welcome-headingMain py-1">Welcome To Kalpita Obfuscation!</h1>
                    <h5 class="welcome-headingMain">Protect Your Data with Data Obfuscation</h5>
                    <p class="welcome-heading">Safeguard your sensitive information and ensure confidentiality with the
                        Kalpita Data Obfuscation Tool</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/security.svg"></span>Enhanced Security and Confidentiality</h6>
                    <p>Data Obfuscation is a crucial step in protecting your client-provided data. Our
                        advanced tool employs state-of-the-art techniques to obfuscate your data, ensuring it remains secure and confidential.</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/data-process.svg"></span>Efficient Data Processing</h6>
                    <p>With our user-friendly interface, you can easily process your data obfuscation requirements.
                        Our tool offers various modules that allow you to manipulate and obfuscate your database connection effortlessly.</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/data-mapping.svg"></span>Mapping Tables</h6>
                    <p>Our tool enables you to select specific columns within a table and apply the appropriate obfuscation
                        function to each of them. This ensures that your data remains anonymized while retaining its integrity.</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/admin-page.svg"></span>Admin Page</h6>
                    <p>We provide an intuitive admin page where you can manage and control the data obfuscation process effectively. This central
                        hub allows for seamless customization and configuration of functions based on project requirements.</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/user-function.svg"></span>User-Defined Functions</h6>
                    <p>To simplify the deployment process, our tool allows users to create client-side functions specific to their
                        projects. This eliminates the need for manual server deployment, saving valuable time and effort.</p>
                </div>
                <div class="col-md-12 pb-2">
                    <h6 class="welcome-heading py-1"><span class="pe-3"><img src="../../../assets/Icons/keyword-manage.svg"></span>Keyword Management</h6>
                    <p>You have full control over keyword management. You can easily add a list of keywords that should be protected during the
                        obfuscation process, ensuring that no sensitive information is compromised.</p>
                </div>
            </div>
        </div>
    </div>
</div>




